parameters:
	enabledRules:
		- JsonValidationRule
		- JsonSizeValidationRule
	includes:
		- test
	maxFileSize: 1048576 # 1 MB
	emptyFile: true
	excludes:
		- .idea
		- .git
		- .docker
		- log
		- node_modules
		- temp
		- vendor
		- app2
		- app3
