# General Rules
parameters:
	enabledRules:
		- JsonValidationRule
		- XmlValidationRule
		- FileSizeValidationRule
		- YamlValidationRule
	includesFolders:
		- test
	excludesFolders:
		- .idea
		- .git
		- .docker
		- log
		- node_modules
		- temp
		- vendor
		- app2
		- app3
	includesFilesType:
		- neon
		- json
		- yaml
		- xml
	fileSettings:
		minFilesSize: 10
		maxFileSize: 512000

# File Type Rules (Optional fields)
fileTypeRules:
	json:
		minFilesSize: 10
		maxFileSize: 10
	yaml:
		maxFileSize: 20
